.navbar {
	background-color: #333;
	border: 2px solid #111;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 395px
}

.navbar li {
	float: left
}

.navbar li a {
	color: #fff;
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	width: auto
}

.navbar li a:hover {
	background: repeating-linear-gradient(90deg, yellow 0px, blue 40px, green 40px, red 80px);
	background-color: #ff7f50;
	text-decoration: underline
}

/*_________________________________*/

.unordered {
    background: #690999;
    padding: 20px;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 110%;
}
    
.unordered li {
    background: springgreen ;
    margin: 5px;
}

.nested-ul li {
    background: orangered;
    margin: 5px;
}

.ordered {
    background: #FD8A00;
    padding: 20px;
    width: 20%;
    font-family: 'Brush Script MT', cursive;
    font-size: 1.3em;
    }
    
.ordered li {
    background: #FFCF95;
    padding: 5px;
    margin-left: 20px;
}

.custom-box-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }
    
.custom-box-list li {
    counter-increment: step-counter;
    margin-bottom: 10px;
}
    
.custom-box-list li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: rgb(69, 420, 0);
    color: blue;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

/*__________________________*/

.list-image {

    list-style: none;
    
    padding-left: 0;
    
}
    
.list-image li {
    
    position: relative;
    
    padding-left: 30px;
    
    line-height: 170%;
    
}
    
.list-image li:before {
    
    content: '';
    
    width: 20px;
    
    height: 20px;
    
    position: absolute;
    
    background-image: url('babak99.jpg');
    
    background-size: cover;
    
    background-position: center;
    
    left: 0;
    
    top: 50%;
    
    transform: translateY(-50%);
    
}

.popular-sites {

    list-style: none;
    
    padding-left: 0;
    
}
    
.popular-sites li {
    
    position: relative;
    
    padding-left: 30px;
    
    line-height: 170%;
    
}
    
.popular-sites li:before {
    
    content: '';
    
    width: 20px;
    
    height: 20px;
    
    position: absolute;
    
    background-image: url('iran2.png');
    
    background-size: cover;
    
    background-position: center;
    
    left: 0;
    
    top: 50%;
    
    transform: translateY(-50%);
    
}

/*______________________________________*/

table, th,td {

    border: 1px solid black;
    
    border-collapse: collapse;
    
}
    
th,td {
    
    padding: 15px;
    
    text-align: center;
    
}
    
caption {
    
    caption-side: top;
    
    text-align: center;
    
    font-style: italic;
    
    font-weight: bold;
    
    color: #49e7e2;
    
}
    
.table-simple th {
    
    background-color: #5bc80b;
    
    color: white;
    
}
    
.table-simple tr:nth-child(even) {
    
    background-color: #516;
    
}
    
.table-simple tr:nth-child(odd) {
    
    background-color: #3a5294;
    
}
    
.table-simple tr:hover {
    
    background-color: #c85b0b;
    
}

/*___________________*/

.head-body-foot thead {

    color: purple;
    
    background-color: rgb(243, 136, 13);
    
}
    
.head-body-foot tbody {
    
    color: rgb(182, 212, 182);
    
    font-weight: bold;
    
    background-color: rgb(68, 39, 177);
    
}
    
.head-body-foot tfoot {
    
    color: rgb(5, 4, 0);
    
    background-color: rgb(227, 231, 233);
    
    font-weight:bold ;
    
}

.head-body-foot thead:hover {

    background-color: #acffe3;
    
}

.head-body-foot tbody:hover {

    background-color:cornflowerblue;

}

.head-body-foot tfoot:hover {

    background-color:darkkhaki;
}

/*_________________*/

.scroll-bar {
    overflow-x: auto;
}

.many-columns tr:hover {
    box-shadow: 10px 10px 20px rgba(32, 84, 29, 1);
}

.many-columns td {
    height: 100px;
}

.table-image {
    margin: 0 auto; ;  
    background-image: url('musk.png)
}

.table-image th {
    width: 600px;
    height: auto;
}

/*______________________*/

table.GeneratedTable {
    width: 100%;
    background-color: #f08bfd;
  border-collapse: separate;
    border-width: 10px;
    border-color: #5be697;
    border-style: double;
    color: #001452;
  }
  
  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 10px;
    border-color: #5be697;
    border-style: double;
    padding: 3px;
  }
  
  table.GeneratedTable thead {
    background-color: #6afb7b;
  }
